# Virtual environment
venv/

# Byte-compiled files
*.pyc
__pycache__/

# Django-specific files
db.sqlite3

# PyCharm IDE settings (optional, if shared repository)
.idea/

# Logs and temp files
*.log
*.tmp
